.title {
  text-align: center;
  letter-spacing: 1px;
  font-size: 3rem;
  color: var(--detail-color);
  margin: 2vh;
}

.input {
  display: flex;

  padding: 7px;

  border: 1px grey solid;
  border-radius: 3px;

  font-size: 18px;
  box-shadow: inset 0px 0px 5px -2px #000000;
  background-color: white;
}

.cred-input {
  max-width: 20rem;
  min-width: 20rem;
}

.input-filter-text {
  display: inline-flex;
  padding: 0.5vw;
  border: 1px grey solid;
  border-radius: 3px;
  width: 125px;
}

.input-filter-number {
  display: inline-flex;
  padding: 0.5vw;
  border: 1px grey solid;
  border-radius: 3px;
  width: 75px;
}

select {
  display: inline-flex;
}

#search_type {
  width: 25%;
}

/*****************************************************************************************/

.cred-msg {
  color: red;
  margin-bottom: 1rem;
}

#cred-success {
  color: green;
  display: none;
}

.home-cards {
  display: flex;
  justify-content: center;
  margin: 5vh;
}

.home-card {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 350px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin: 2vw;
  box-shadow: 0px 5px 5px black;
  border-radius: 1px;
  text-decoration: none;
  background: var(--detail-color);
  color: white;
  transition-duration: 0.2s;
  font-size: 1.5rem;
}
.home-card:hover {
  transform: translateY(-2%);
  box-shadow: 0px 10px 10px black;
}
.home-card-label {
  color: white;
  margin-top: 1rem;
}
#home-title {
  letter-spacing: 2vw;
  font-size: 10rem;
  font-weight: bold;
  color: white;
}
#home-msg {
  color: black;
  font-style: italic;
  font-weight: bold;
}


/*****************************************************************************************/

.label {
  margin: 20px 0px 2px 0px;
  display: flex;
  font-size: 23px;
}

.label-search {
  margin: 20px 0px 2px 0px;
  padding-bottom: 5px;
  display: flex;
  font-size: 23px;
}

.label-filter {
  padding-right: 5px;
  padding-left: 15px;
}


/*****************************************************************************************/

.button {
  display: inline;
  justify-content: center;

  margin-top: 25px;
  width: 125px;
  padding: 10px;
  border-radius: 3px;
  border-style: none;

  font-size: 20px;
  color: var(--detail-font-color);
  text-decoration: none;

  background-color: var(--detail-color);
  box-shadow: inset 0px 0px 5px -2px #000000;

  cursor: pointer;
}
.button:hover {
  opacity: 80%;
}

/*****************************************************************************************/

#search-bar {
  width: 90vw;
}
.search-bottom {
  background: var(--form-color);
  margin-top: 2vh;
  padding-bottom: 2vh;
  box-shadow: 0px 5px 5px var(--form-box-shadow);
}
.search-button {
  margin-right: 2rem;
}
.search-buttons {
  display: flex;
  justify-content: center;
}
.search-form {
  display: flex;
  width: 90vw;
  margin: 2vh;
  flex-direction: column;
  padding: 2vw;
  justify-content: center;
  background:  var(--form-color);
  box-shadow: 0px 8px 8px var(--form-box-shadow);
}
.search-return {
  display: flex;
  margin: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}
#search-error-msg {
  color: red;
  margin: 2rem;
}


.cards {
  display: grid;
  width: 88vw;
  justify-items: center;
  background: var(--form-color);
  padding: 3vw;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0px 5px 5px var(--form-box-shadow);
  gap: 2vw 2vw;
}

.movie-card {
  display: grid;
  transition: transform box-shadow 0.3s;
  box-shadow: 0px 5px 5px grey;
  height: 100%;
  width: 100%;
  transition-duration: 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 10px black;
}

.movie-details {
  display: flex;
  padding: 2rem;
}

.movie-details-text {
  letter-spacing: 1px;
}

.movie-detail {
  margin: 1rem;
}

.movie-detail-poster {
  object-fit: contain;
}

#movie-search-results {
  margin: 2vh;
}
/*****************************************************************************************/

table {
  margin: 2vh;
  padding: 2vh;
  text-align: center;
  box-shadow: 0px 0px 5px -2px #000000;
}
td {
  padding: 2vw;
}

#order-history {
  background: white;
}
#order-complete-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  width: 75vw;
  background: white;
  border: none;
  border-radius: 0px;
  box-shadow: 0px 5px 5px grey;
}
.cart-total {
  display: flex;
  justify-content: center;
}

#add-to-cart {
  display: flex;
  width: 20.7vw;
  height: 15vh;
  justify-content: center;
  align-items: center;
}
#cart-quantity {
  margin-top: 4vh;
  margin-right: 2vw;
  height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 5px;
}


/*****************************************************************************************/

.footer {
  display: grid;
  position: bottom;
  background: darkgrey;
  bottom: 0;
  height: 20vh;
  text-align: center;
  padding: 2rem;
}

/*****************************************************************************************/

.bi-big-icon {
  text-align: center;
  margin: 5rem;
}

/*****************************************************************************************/



@media (max-width: 1150px) {
  .home-card {
    font-size: 1rem;
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 1000px) {
  .home-cards {
    display: grid;
  }
  #home-title {
    font-size: 20vw;
    letter-spacing: 2vw;
  }
  #home-msg {
    font-size: 8vw;
  }
  .movie-details {
    display: grid;
    justify-items: center;
    text-align: center;
  }
  .search-return {
    justify-content: center;
  }
  #add-to-cart {
    width: 100vw;
    justify-content: center;
  }

}


